target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
client-assets/stego-output/*.png
server-assets/extracted-fPrints/*.png
server-assets/dig-sign/extracted-digital-sign.txt
server-assets/cheque-data/*.txt
server-assets/cheque-data/*.png
server-assets/**/*.png
server-assets/**/*.txt
server-assets/**/*.pub
client-assets/cover-img/hdfc-cover.png
client-assets/dig-sign/*.txt

